<%-include partials/header.ejs%>
    <h1>About ME </h1>
    <p><u><b>My Name is Himanshu Patel..</b></u> </p>
    <p>
    I am a computer programmer student. I like to design cool websites and to do some creative designing.
    I am living in Orillia.  
    </p>
    
    <p><u><b>Facts about Me:</b></u> </p>
    <p>
    <ul>
    <li>I am a international student and already had completed Engineering in computer science in india.</li>
    <li>I’m a good listener but if I get excited about the topic then expect frequent interruption.</li>
    <li>I’m a bit obsessive about cleanliness and personalization.k</li>
    <li>I rarely take photos of myself and I don’t have an active Instagram account… yet.</li>
    <li>I love android programming..</li>
    </ul>
     </p>
  
  
<%-include partials/footer.ejs%>