<%-include partials/header.ejs%>
    <h1>Project</h1>
    <p><b>This is list of projects that i have done so far..</b> </p>
    <p>
    <ul>
    <li><u>Pharma Distributed Management System</u>- Web based pharmacy management application developed in c#.net technology. IT keeps track record of selling and purchasing record </li>
    <li><u>Maths Game</u>- Created simple maths puzzle game in android.It has a three level of arithmatic maths question- Easy, medium and hard.</li>
    <li><u>Gujarat Tourism</u>- Developed tourism appication in android that has a detail of some heavens in Gujarat, India !!</li>
    </ul>
    </p>
  
<%-include partials/footer.ejs%>