<%-include partials/header.ejs%>
    
    <p >Connect me On social.. </p>
    
    <div class="social">
    <p>
    <a href="https://twitter.com/himanshupatel06">
    <img title="Twitter" alt="Twitter" src="images/twitter-icon.jpg" width="42" height="42"/>
    </a>
    </p>
    <p>
    <a href="https://www.facebook.com/himanshupatel06">
    <img title="Facebook" alt="Facebook" src="images/fb.png" width="42" height="42"/>
    </a>
    </p>
    <p>
    <a href="https://www.linkedin.com/in/himanshu-patel-98b2704a?trk=hp-identity-name ">
    <img title="LinkedIn" alt="LinkedIn" src="images/in.jpg" width="42" height="42"/>
    </a>
    </p>
  </div>
<%-include partials/footer.ejs%>